<section class="career-container">
  <article>
    <h2>Career</h2>
    <h3>GLOBANT</h3>
    <h4>Bogotá, Colombia March 2023 - current</h4>
    <i>Web UI Developer Junior advance Augmented Initiatives</i>
    <ul class="career-container-ul">
      <p>Responsibilities:</p>
      <li>Development of the front-end app.</li>
    </ul>
  </article>

  <article>
    <h3>GLOBANT</h3>
    <h4>Bogotá, Colombia March 2021 - current</h4>
    <i>Web UI Developer Junior advance at Rockwell Automation</i>
    <ul class="career-container-ul">
      <p>Responsibilities:</p>
      <li>
        Development of the canvases in Storybook for the components of WTUI on
        the Flourish site.
      </li>
      <li>Development of a Design System for Flourish DS.</li>
      <li>Maintenance of the icons library.</li>
    </ul>
    <ul class="career-container-ul">
      <p>Tools/Technologies:</p>
      <li>React</li>
      <li>Angular</li>
      <li>Storybook</li>
      <li>Qtest</li>
      <li>Jenkins</li>
      <li>Visual Studio Code</li>
      <li>Jira</li>
    </ul>
  </article>
  <article>
    <h3>GLOBANT</h3>
    <h4>Bogotá, Colombia March 2021 - Dec 2021</h4>
    <i
      >Web UI Developer Junior advance at Globant Sports a Labs Globant project
      Development of the Globant Sports website.</i
    >
    <ul class="career-container-ul">
      <p>Tools/Technologies:</p>
      <li>React</li>
      <li>Redux</li>
      <li>Visual Studio Code</li>
      <li>Adobe XD</li>
      <li>Zeplin.</li>
    </ul>
  </article>

  <article>
    <h3>GLOBANT</h3>
    <h4>Bogotá, Colombia March 2021 - May 2021</h4>
    <i>Mentor Semillero de programación mujeres en la nube</i>
    <p>Taught basic HTML and CSS.</p>
  </article>

  <article>
    <h3>GLOBANT</h3>
    <h4>Bogotá, Colombia Oct. 2020 - March 2021</h4>
    <i>Web UI Developer Junior</i>
    <p>
      Developed a web application in React, implementing Hooks, Redux and
      Storybook and API consume
    </p>
  </article>
  <h3>LinkedIn</h3>
  <div
    class="badge-base LI-profile-badge"
    data-locale="es_ES"
    data-size="medium"
    data-theme="light"
    data-type="VERTICAL"
    data-vanity="luz-stella-soto-guzmán-b523451b6"
    data-version="v1"
  >
    <a class="badge-base__link LI-simple-link" href="{{ LinkedInProfile }}"></a>
  </div>
</section>
