<section class="career-container">
  <h2>Career</h2>
  <p>
    GLOBANT, Bogotá, Colombia March 2023 - current Web UI Developer Junior
    advance Augmented Initiatives Responsibilities: Development of the front-end
    app.
  </p>

  <p>
    GLOBANT, Bogotá, Colombia March 2021 - current Web UI Developer Junior
    advance Rockwell Automation Responsibilities: Development of the canvases in
    Storybook for the components of WTUI on the Flourish site. Development of a
    Design System for Flourish DS. Maintenance of the icons library.
    Tools/Technologies: React, Angular, Storybook, Qtest, Jenkins, Visual Studio
    Code, Jira
  </p>
  <p>
    GLOBANT, Bogotá, Colombia March 2021 - Dec 2021 Web UI Developer Junior
    advance Globant Sports a Labs Globant project Development of the Globant
    Sports website. Tools/Technologies: React, Redux, Visual Studio Code, Adobe
    XD, Zeplin.
  </p>
  <p>
    GLOBANT, Bogotá, Colombia March 2021 - May 2021 Mentor Semillero de
    programación mujeres en la nube Taught basic HTML and CSS.
  </p>
  <p>
    GLOBANT, Bogotá, Colombia Oct. 2020 - March 2021 Web UI Developer Junior
    Developed a web application in React, implementing Hooks, Redux and
    Storybook and API consume
  </p>
  <p>
    QUALITY POINT, Cota, Colombia Jul. 2018 – Oct. 2018 Trade Marketing Analyst
    Lead the first showroom in the company with the purpose of increase sales
    Created an Excel/PDF file to help the sale force to show customers the cost
    of a recipe with the company’s products and prices Follow the sale of the
    products that we send to costumers as POP material or samples
  </p>
  <p>
    RENOBOY, Bogotá, Colombia May. 2017 – Nov. 2017 Marketing Analyst Creation
    of an Excel management dashboard to improve the visualization of data and
    help in the decision making within the company Improvement of the sales
    incentives process with the use of MS Access to analyze the sales data
    Generation and management of massive marketing email sending through
    Mailchimp
  </p>
  <div
    class="badge-base LI-profile-badge"
    data-locale="es_ES"
    data-size="medium"
    data-theme="light"
    data-type="VERTICAL"
    data-vanity="luz-stella-soto-guzmán-b523451b6"
    data-version="v1"
  >
    <a class="badge-base__link LI-simple-link" href="{{ LinkedInProfile }}"></a>
  </div>
</section>
