<article class="article">
  <div class="article-container">
    <div class="article-container__info">
      <h2>Hi there!</h2>
      <h1>I'm Luz Stella Soto G</h1>
      <h2>Web UI Developer</h2>
      <p class="article-paragraph-info">
        I'm a full stack developer, that love this amazing career since 2020.
        <br />
        Currently I'm working at
        <a href="{{ globantLink }}" target="_blank" class="globants-logo"
          ><img
            src="https://www.globant.com/themes/custom/globant_corp_theme/images/2019/globant-logo-dark.svg"
            alt="Globant's logo"
        /></a>
        as a Web UI developer Junior Advance.
      </p>
    </div>
    <img
      class="profile-photo"
      src="../../../assets/profileph.png"
      alt="Luz Stella's Photography"
    />
  </div>
</article>
