.portfolio-container {
  background-color: rgb(255, 235, 222);
  color: rgb(126, 150, 129);
  padding: 0px 55px 40px 55px;
  /* margin: 0px 55px 50px 55px; */
}

.portfolio__heading {
  padding-top: 40px;
}
