<section id="portfolio" class="portfolio-container">
  <h2 class="portfolio__heading">Portfolio</h2>
  <p>A small gallery of all the projects that I have made.</p>
  <article>
    <h3>Proyecto 1</h3>
    <div
      class="github-card"
      data-github="https://github.com/lssotog"
      data-width="400"
      data-height="200"
      data-theme="default"
    ></div>
  </article>
  <article>
    <h3>Proyecto 1</h3>
    <iframe style="height: 300px; width: 300px" src="{{ githubProfile }}">
      <b>IFrame is NOT available here</b>
    </iframe>

    <iframe
      style="height: 300px; width: 300px"
      src="https://renielcanlas.github.io"
    >
      <b>IFrame is available here</b>
    </iframe>
  </article>
</section>
