<header class="header-container">
  <img class="logo" src="../../../assets/lssg-logo.jpg" />
  <app-nav-bar></app-nav-bar>
</header>
<main>
  <article class="article">
    <div class="article-container">
      <div>
        <h2>Hi there!</h2>
        <h1>I'm Luz Stella Soto G</h1>
        <h2>Web UI Developer</h2>
      </div>
      <img
        class="profile-photo"
        src="../../../assets/profileph.png"
        alt="Luz Stella's Photography"
      />
    </div>
    <p class="article-paragraph-info">
      I'm a full stack developer, that love this amazing career since 2020.
      Currently I'm working at
      <a href="{{ globantLink }}" target="_blank"
        ><img
          class="globants-logo"
          src="../../../assets/globant-logo.png"
          alt="Globant's logo"
      /></a>
      as a Web UI developer Junior Advance.
    </p>
  </article>

  <about-section></about-section>

  <skills-section></skills-section>

  <portfolio-section></portfolio-section>

  <career-section></career-section>

  <footer></footer>
</main>
