<section id="about" class="container-about">
  <a (click)="returnAboutSectionNav()">
    <h2>A little about me</h2>
  </a>

  <p>
    I'm a software developer with more than 2 years of experience Design
    system...
  </p>

  <i>{{ quoteResponse.content }}</i>
  <p>{{ quoteResponse.author }}</p>

  <p>Reading books like</p>
  <p>
    EN ESTA PARTE MOSTRAR LOS LIBROS QUE ME HE LEIDO ESTE AÑO Y LOS QUE TENGO
    PENDIENTES POR LEER
  </p>
  <p>CONSUMIR API LIBROS</p>
  <h3>COMENTAR DE LOS VOLUNTARIADOS</h3>
  <p>
    In 2020 I was the mentor of Globant's "Women in the Cloud" programming
    seedbed program, which aimed to approach and include Colombian girls and
    adolescents in vulnerable situations into the world of technology,
    specifically web programming. Our goal was to inspire and plant the seed for
    more women to join IT.
  </p>
  <iframe
    width="420"
    height="345"
    src="https://www.youtube.com/watch?v=WGRQVAW216I"
  ></iframe>
</section>
