.form-error-message {
  color: red;
}

.form-group {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.form-control {
  border-radius: 100px;

  margin-top: 25px;
}

label {
  color: rgb(189, 101, 47);
}

.contact-button {
  width: 80px;
  height: 30px;
  margin: 30px 0px;
  border-radius: 10rem;
  transition: all 0.2s;
}
